$pink: #d22856;
$green: #2aab6d;
$green--hover: #1c9b5e;
$gray--dark: #283645;
$gray--light: #8a8a8a;

$txt--white: #ffffff;
$txt-green: #03c482;
$txt-black: #000000;

$bg--white: #ffffff;
$bg--dark: #1d2631;
$bg--gray: #efefef;

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
