@import "../variables.scss";
@import "../mixins.scss";
@import "../fonts.scss";
@import "../global.scss";

.app {
  min-height: 270px;
  padding: 25px 0;
  background-color: $gray--dark;
}

.app__wrapper {
  width: 280px;
  margin: 0 auto;
}

.app__download {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: $txt--white;
  min-height: 55px;
  margin: 20px 19px;
  padding: 15px 39px 17px 40px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.platforms-list {
  width: 280px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 35px;
}

.platforms-list__item--apple,
.platforms-list__item--android,
.platforms-list__item--windows {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 30px;
}

.platforms-list__item--apple {
  margin-right: 37px;
  margin-left: 18px;
  background: url("../../img/logo-apple.svg") 50% 50% no-repeat;
  background-size: contain;
}

.platforms-list__item--android {
  margin-right: 37px;
  background: url("../../img/logo-android.svg") 50% 50% no-repeat;
  background-size: contain;
}

.platforms-list__item--windows {
  background: url("../../img/logo-microsoft.svg") 50% 50% no-repeat;
  background-size: contain;
}

.app__info {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $txt--white;
}
