.contest-form {
  padding-top: 50px;
}

.contest-form__wrapper {
  margin: 0 auto;
}

.contest-form__intro {
  width: 280px;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: $gray--dark;
  text-align: center;
  margin-bottom: 45px;
}

.contest-form__user-data {
  background-color: #fff;
  border: none;
  padding: 0 20px;
  padding-top: 20px;
  &--gray {
    background-color: $bg--gray;
  }
}

.contest-form__input-label {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-left: 20px;
}

.contest-form__input-text {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  color: $gray--dark;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  margin-bottom: 25px;
  width: 85%;
  &::placeholder {
    color: $gray--dark
  }
}

.contest-form__title {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $pink;
  text-transform: uppercase;
  margin: 37px auto;
  text-align: center;
  padding: 0 25px;
}

.contest-form__selection-label {
  padding-left: 70px;
  cursor: pointer;
  position: relative;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  &::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  }
}

.contest-form__selection {
  margin-bottom: 40px;
}

.contest-form__emotions {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 15px;
  padding-left: 15px;
  min-height: 200px;
  width: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-color: #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  &::placeholder {
    color: $gray--dark;
  }
}

.contest-form__send {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $txt--white;
  background-color: $green;
  padding: 20px 44px;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 30px;
}

.contest-form__text {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $gray--dark;
  text-align: center;
  text-transform: uppercase;
  &--red {
    color: $pink;
  }
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 9px;
  width: 20px;
  height: 8px;
  border-bottom: 2px solid $pink;
  border-left: 2px solid $pink;
  transform: rotate(-45deg);
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}
