.contest-photo {

  min-height: 250px;
  background: #243344 url('../img/bg-back-mobile@1x.jpg') 50% 0 no-repeat;
}

.contest-photo__title {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    padding-top: 25%;
    text-align: center;
    color: $txt--white;
}
