@import "../variables.scss";
@import "../mixins.scss";
@import "../fonts.scss";
@import "../global.scss";

.copyright {
  margin: 36px auto;
  text-align: center;
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $gray--dark;
  text-align: center;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 27px;
  height: 35px;
  background: url("../../img/htmlacademy.svg") no-repeat center;

}
