@import "../variables.scss";
@import "../mixins.scss";
@import "../fonts.scss";
@import "../global.scss";

.feed__wrapper {
  width: 280px;
  margin: 0 auto;
}

.feed__title {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $gray--dark;
  text-align: center;
  margin: 45px 0;
}

.feed-item {
  margin-bottom: 20px;
}

.feed-item__panorama {
  position: relative;
}

.feed-item__photo {
  padding-left: 20px;
}
.feed-item__label {
  font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    top: 0px;
    left: 50%;
    padding: 6px 20px;
    text-transform: uppercase;
    color: $txt--white;
    background-color: $pink;
}


.feed-item__comment {
  padding: 20px 20px;
  margin: -25px 20px 0 20px;
  background-color: $bg--gray;
}

.feed-item__username {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: $gray--dark;
}

.feed-item__post-time {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray--dark;
}

.feed-item__post-text {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: $gray--dark;
  margin-top: -10px;
}

.feed-item__likes-counter {
  position: relative;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  padding-left: 20px;
  &::before {
    content: url("../../img/icon-heart.svg");
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: -3px;
    cursor: pointer;
    }
}
