@import "../variables.scss";
@import "../mixins.scss";
@import "../fonts.scss";
@import "../global.scss";

.page-header {
  padding: 20px 20px;
  background-color: $gray--dark;
  outline: 2px solid red;
}
