@import "../variables.scss";
@import "../mixins.scss";
@import "../fonts.scss";
@import "../global.scss";

.price-table {
  width: 840px;
  border-collapse: collapse;
  border: 2px solid #e6e6e6;
  background-color: $bg--white;
}

.price-table__header {
  position: relative;
  width: 280px;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $txt--white;
  text-align: center;
  background-color: $gray--dark;
  border: 2px solid #e5e5e5;
}

.price-table__cost {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $txt--white;
}

.price-table__service {
  padding: 25px 0 25px 25px;
  border: 2px solid #e5e5e5;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: $gray--dark
}

.price-table__label
{
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
  transform: rotate(-45deg) translate(-15px, -20px);
  text-align: center;
  text-transform: uppercase;
  color: $txt--white;
  background-color: $pink;
}
