.social {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  font-size: 0;
}

.social__link--twitter {
  background: url("../../img/icon-twitter.svg") no-repeat center;
  margin-right: 10px;
}

.social__link--facebook {
  background: url("../../img/icon-facebook.svg") no-repeat center;
  margin-right: 10px;
}

.social__link--youtube {
  background: url("../../img/icon-youtube.svg") no-repeat center;
}
