.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 178px;
  margin-bottom: 28px;
}

.social__link {
  display: block;
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
  border: 3px solid rgba(40, 54, 69, 0.9);
  border-radius: 50%;

  &:hover {
    border-color: rgba(40, 54, 69, 1);
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);

    .social-link__svg {
      fill-opacity: 0.3;
    }
  }

  &--twitter {
    background: url("../../img/icon-twitter.svg") no-repeat center;
  }

  &--facebook {
    background: url("../../img/icon-facebook.svg") no-repeat center;
  }

  &--youtube {
    background: url("../../img/icon-youtube.svg") no-repeat center;
    }
}


@media #{$tablet} {
  .social {
    margin-top: 3px;
    margin-bottom: 0;
  }
}

@media #{$desktop} {
  .social {
    margin-left: 7px;
  }
}
